
@{
    ViewBag.Title = "Admin";
 }

<h2 >Hello Admin</h2>
<div class="col-md-4">
    <h4>Product Management</h4>
    <div class="list-group">
        @Html.ActionLink("Product Categories","Index","ProductCategoryManager",null,new {@class="list-group,item" })
        
    </div>
</div>
<div class="col-md-4">
<h4>Product</h4>    
    <div class="list-group">
        @Html.ActionLink("Product ", "Index", "ProductManager", null, new { @class = "list-group,item" })
    </div>
</div>
    <div class="col-md-4">
        <h4>Order Management</h4>
        <div class="list-group">
            @Html.ActionLink("Orders", "Index", "OrderManager", null, new { @class = "list-group,item" })

        </div>
    </div>

